kavita:
  baseUri: "http://kavita:5000"
  apiKey: "YOUR_KAVITA_API_KEY"
  eventListener:
    enabled: true

metadataProviders:
  defaultProviders:
    mangaUpdates:
      priority: 10
      enabled: true
    aniList:
      priority: 20
      enabled: true
    mangaDex:
      priority: 30
      enabled: true

database:
  file: /config/database.sqlite