#=====================================================================#
#                       LibreChat Configuration                       #
#=====================================================================#

#==================================================#
#               Server Configuration               #
#==================================================#

HOST=localhost
PORT=3080

# Set in docker-compose.yml, keep here for reference
MONGO_URI=mongodb://mongodb:27017/LibreChat

DOMAIN_CLIENT=http://localhost:3080
DOMAIN_SERVER=http://localhost:3080

NO_INDEX=true
TRUST_PROXY=1

#=============#
# Permissions #
#=============#

# Comment these out if running on a Windows machine
UID=1000
GID=1000

#===============#
# Debug Logging #
#===============#

DEBUG_LOGGING=true
DEBUG_CONSOLE=false

#==================================================#
#                     Endpoints                    #
#==================================================#

# API keys for endpoints configured in librechat.yaml

ROUTEWAY_API_KEY=
OPENROUTER_KEY=
MOONSHOT_API_KEY=
DEEPSEEK_API_KEY=
DASHSCOPE_API_KEY=
VENICE_API_KEY=

#============#
# Google     #
#============#

GOOGLE_KEY=
GOOGLE_MODELS=gemini-3.1-flash-lite-preview,gemini-2.5-flash

#==================================================#
#                      Search                      #
#==================================================#

SEARCH=true
MEILI_NO_ANALYTICS=true
MEILI_HOST=http://meilisearch:7700
MEILI_MASTER_KEY=

#==================================================#
#                    User System                   #
#==================================================#

#========================#
# Registration and Login #
#========================#

ALLOW_EMAIL_LOGIN=true
ALLOW_REGISTRATION=true
ALLOW_SOCIAL_LOGIN=false
ALLOW_SOCIAL_REGISTRATION=false
ALLOW_PASSWORD_RESET=false
ALLOW_UNVERIFIED_EMAIL_LOGIN=true

SESSION_EXPIRY=1000 * 60 * 15
REFRESH_TOKEN_EXPIRY=(1000 * 60 * 60 * 24) * 7

# Generate secure random values for these before deploying
JWT_SECRET=
JWT_REFRESH_SECRET=

#========================#
# Moderation             #
#========================#

BAN_VIOLATIONS=true
BAN_DURATION=1000 * 60 * 60 * 2
BAN_INTERVAL=20

LOGIN_MAX=7
LOGIN_WINDOW=5
REGISTER_MAX=5
REGISTER_WINDOW=60

LIMIT_CONCURRENT_MESSAGES=true
CONCURRENT_MESSAGE_MAX=2

LIMIT_MESSAGE_IP=true
MESSAGE_IP_MAX=40
MESSAGE_IP_WINDOW=1

LIMIT_MESSAGE_USER=false
MESSAGE_USER_MAX=40
MESSAGE_USER_WINDOW=1

#===================================================#
#                        UI                         #
#===================================================#

APP_TITLE=LibreChat

#========================#
# Shared Links           #
#========================#

ALLOW_SHARED_LINKS=true
ALLOW_SHARED_LINKS_PUBLIC=false

#==================================================#
#                      Others                      #
#==================================================#

# NODE_ENV=production
